---
import Layout from "../layouts/Layout.astro";
import Calendario from "../components/Calendario.astro";
import Hero2 from "../components/Hero2.astro";
---

<Layout title="Sin Chicharrones">
  <main class="flex flex-col justify-center items-center">
    <Hero2 />
    <Calendario />
  </main>
</Layout>
