---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Calendario from "../components/Calendario.astro";
---

<Layout title="Sin Chicharrones">
  <main class="flex flex-col justify-center items-center">
    <Hero />
    <Calendario />
  </main>
</Layout>
