<section class="flex flex-col  mx-auto mt-20 mb-40 md:flex-row md:justify-between gap-x-10 md">
  <div
    class="text-black flex flex-col text-center items-center justify-center hover:scale-110 transition left-8"
  >
    <h1 class="text-[50px] font-bold">SOLUCIONES JURIDICAS</h1>
    <span class="text-black text-xl">
      Necesitas asesocria juridica gratis, agendate aqui</span
    >
  </div>
  <div class="flex flex-col justify-center items-center">
    <img
      src="/logo3.webp"
      class="h-[250px] w-[250px] hover:scale-110 transition inline-block"
    />
  </div>
</section>
