<section class="flex flex-col justify-center items-center mx-auto mt-20 mb-40">
  <div
    class="text-accent flex flex-col text-center items-center justify-center"
  >
    <h1 class="text-[60px] font-bold">SOLUCIONES JURIDICAS</h1>
    <span> Necesitas asesocria juridica gratis, agendate aqui</span>
  </div>
  <div class="flex flex-col justify-center items-center">
    <img src="/logochi.webp" class="h-[300px] w-[300px]" />
    <h1 class="text-accent text-[60px] text-center">
      SIN <br />CHICHARRONES
    </h1>
  </div>
</section>
