<section class="flex flex-col justify-center mx-auto mt-20 md:flex-row md:justify-center">
  <div
    class="text-accent flex flex-col text-center  items-center justify-center"
  >
    <h1 class="text-5xl font-bold">SOLUCIONES JURIDICAS</h1>
    <span>
      Necesitas asesocria juridica gratis, agendate aqui 
    </span>
  </div>
  <div>
    <img src="/logo2.webp" />
  </div>
</section>
