<section class="flex flex-col justify-center items-center mx-auto mt-20 mb-40">
  <div
    class="text-black flex flex-col text-center items-center justify-center hover:scale-110 transition"
  >
    <h1 class="text-[50px] font-bold">SOLUCIONES JURIDICAS</h1>
    <span class="text-black text-xl">
      Necesitas asesocria juridica gratis, agendate aqui</span
    >
  </div>
  <div class="flex flex-col justify-center items-center">
    <img
      src="/logo3.webp"
      class="h-[300px] w-[300px] hover:scale-110 transition inline-block"
    />
    <h1
      class="text-black text-[40px] text-center hover:scale-110 transition inline-block"
    >
      AGENDATE
    </h1>
  </div>
</section>
